src/main/resources/amplitude/wsdl/getCustomerDetail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><?FJSWSDLUpdate http://slnxampsmg01.tour.fr.sopra:9789/VD10.1.SMG-DEV/getCustomerDetail?WSDL?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fjs="http://soprabanking.com/amplitude"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="getCustomerDetail" targetNamespace="http://soprabanking.com/amplitude">
    <wsdl:types>
        <xsd:schema xmlns:s1="http://soprabanking.com/amplitude" elementFormDefault="qualified"
                    targetNamespace="http://soprabanking.com/amplitude">
            <xsd:simpleType name="charMax50">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax10">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax30">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="language">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseHeader">
                <xsd:sequence>
                    <xsd:element name="requestId" type="s1:charMax50"/>
                    <xsd:element name="responseId" type="s1:charMax50"/>
                    <xsd:element type="xsd:dateTime" name="timestamp"/>
                    <xsd:element name="serviceVersion" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="language" type="s1:language"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="statusCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="-1"/>
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="responseMessageNature">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ERROR"/>
                    <xsd:enumeration value="INFO"/>
                    <xsd:enumeration value="WARNING"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char6">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="errorInformation">
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="errorCode" minOccurs="0"/>
                    <xsd:element type="xsd:string" name="convertedCode" minOccurs="0"/>
                    <xsd:element type="xsd:string" name="errorMessage" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseStatusMessage">
                <xsd:sequence>
                    <xsd:element name="nature" type="s1:responseMessageNature"/>
                    <xsd:element name="code" type="s1:char6"/>
                    <xsd:element type="xsd:string" name="line" maxOccurs="unbounded" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="errorInformation" type="s1:errorInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseStatusMessages">
                <xsd:sequence>
                    <xsd:element name="message" type="s1:responseStatusMessage" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseStatus">
                <xsd:sequence>
                    <xsd:element name="statusCode" type="s1:statusCodeType"/>
                    <xsd:element minOccurs="0" name="messages" type="s1:responseStatusMessages"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="errorResponseFlow">
                <xsd:sequence>
                    <xsd:element name="responseHeader" type="s1:responseHeader"/>
                    <xsd:element name="responseStatus" type="s1:responseStatus"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="errorResponseFlow" type="s1:errorResponseFlow"/>
            <xsd:complexType name="getStatusRequestFlow">
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="getStatusRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getStatusRequestFlow" type="s1:getStatusRequestFlow"/>
            <xsd:complexType name="getStatusResponse">
                <xsd:sequence>
                    <xsd:element type="xsd:dateTime" name="timeStamp" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="serviceName" type="s1:charMax50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getStatusResponseFlow">
                <xsd:sequence>
                    <xsd:element name="getStatusResponse" type="s1:getStatusResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getStatusResponseFlow" type="s1:getStatusResponseFlow"/>
            <xsd:simpleType name="languageCode">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="channelCode">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="requestHeader">
                <xsd:sequence>
                    <xsd:element name="requestId" type="s1:charMax50"/>
                    <xsd:element name="serviceName" type="s1:charMax50"/>
                    <xsd:element type="xsd:dateTime" name="timestamp"/>
                    <xsd:element minOccurs="0" name="originalName" type="s1:charMax50"/>
                    <xsd:element minOccurs="0" name="originalId" type="s1:charMax50"/>
                    <xsd:element type="xsd:dateTime" name="originalTimestamp" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="languageCode" type="s1:languageCode"/>
                    <xsd:element name="userCode" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="channelCode" type="s1:channelCode"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax15">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerIdentifier">
                <xsd:sequence>
                    <xsd:element name="customerCode" type="s1:charMax15"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerDetailRequest">
                <xsd:sequence>
                    <xsd:element name="customerIdentifier" type="s1:customerIdentifier"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerDetailRequestFlow">
                <xsd:sequence>
                    <xsd:element name="requestHeader" type="s1:requestHeader"/>
                    <xsd:element name="getCustomerDetailRequest" type="s1:getCustomerDetailRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getCustomerDetailRequestFlow" type="s1:getCustomerDetailRequestFlow"/>
            <xsd:simpleType name="customerType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax2">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="titleCode">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax2"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax36">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax67">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="67"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax20">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerFreeField1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerFreeField2">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerFreeField3">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax25">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax3">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="nationality">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="country">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="legalSituation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerSituation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="nationalityCode" type="s1:nationality"/>
                    <xsd:element minOccurs="0" name="countryOfResidence" type="s1:country"/>
                    <xsd:element minOccurs="0" name="legalSituation" type="s1:legalSituation"/>
                    <xsd:element type="xsd:date" name="applicationDateOflegalSituation" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="fatcaStatusCode">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="fatcaStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fatcaStatusCode" type="s1:fatcaStatusCode"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="user">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="name" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="forcingLevel" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="language" type="s1:language"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="crsStatusCode">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="crsStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="crsStatusCode" type="s1:crsStatusCode"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerFatca">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fatcaStatus" type="s1:fatcaStatus"/>
                    <xsd:element type="xsd:date" name="fatcaStatusDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="fatcaStatusUpdateUser" type="s1:user"/>
                    <xsd:element minOccurs="0" name="crsStatus" type="s1:crsStatus"/>
                    <xsd:element type="xsd:date" name="crsStatusDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="crsStatusUpdateUser" type="s1:user"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="familyStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="marriageSettlement">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="legalCapacity">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerRealEstateSituation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerIndividualGeneralInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="firstname" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="middlename" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="thirdname" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="familyStatusCode" type="s1:familyStatus"/>
                    <xsd:element minOccurs="0" name="marriageSettlementCode" type="s1:marriageSettlement"/>
                    <xsd:element minOccurs="0" name="holderLegalCapacity" type="s1:legalCapacity"/>
                    <xsd:element type="xsd:date" name="applicationDateOflegalCapacity" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="RealEstateSituationCode" type="s1:customerRealEstateSituation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="sex">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=" "/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="M"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax6">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerBirth">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="holderSex" type="s1:sex"/>
                    <xsd:element minOccurs="0" name="maidenName" type="s1:charMax36"/>
                    <xsd:element type="xsd:date" name="birthDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="birthCity" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="birthCounty" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="birthRegion" type="s1:charMax50"/>
                    <xsd:element minOccurs="0" name="birthCountry" type="s1:country"/>
                    <xsd:element minOccurs="0" name="birthTownCode" type="s1:charMax6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax5">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="idPaperType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax5"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerIdPaper">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="type" type="s1:idPaperType"/>
                    <xsd:element minOccurs="0" name="idPaperNumber" type="s1:charMax20"/>
                    <xsd:element type="xsd:date" name="idPaperDeliveryDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="idPaperDeliveryPlace" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="organisationWhichDeliver" type="s1:charMax30"/>
                    <xsd:element type="xsd:date" name="idPaperValidityDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="nationalIdentifier" type="s1:charMax20"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="territorialityCode">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerTerritoriality">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="territorialityCode" type="s1:territorialityCode"/>
                    <xsd:element minOccurs="0" name="spouseTerritorialityCode" type="s1:territorialityCode"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="customerThirdPartyType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=" "/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="T"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerFamily">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="spouseType" type="s1:customerThirdPartyType"/>
                    <xsd:element minOccurs="0" name="spouseCode" type="s1:charMax15"/>
                    <xsd:element type="xsd:int" name="numberOfChildren" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="customerFamilyRelationshipCode" type="s1:charMax15"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerOtherAttributes">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="holderMotherName" type="s1:charMax67"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerIndividualSpecInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="individualGeneralInfo" type="s1:customerIndividualGeneralInfo"/>
                    <xsd:element minOccurs="0" name="birth" type="s1:customerBirth"/>
                    <xsd:element minOccurs="0" name="idPaper" type="s1:customerIdPaper"/>
                    <xsd:element minOccurs="0" name="territoriality" type="s1:customerTerritoriality"/>
                    <xsd:element minOccurs="0" name="family" type="s1:customerFamily"/>
                    <xsd:element minOccurs="0" name="otherAttributes" type="s1:customerOtherAttributes"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax65">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="65"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="legalForm">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax2"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerCorporateGeneralInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="tradeNameToDeclare" type="s1:charMax65"/>
                    <xsd:element minOccurs="0" name="secondTradeNameToDeclare" type="s1:charMax65"/>
                    <xsd:element type="xsd:date" name="companyCreationDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="legalFormCode" type="s1:legalForm"/>
                    <xsd:element minOccurs="0" name="statutoryAuditor1" type="s1:charMax36"/>
                    <xsd:element minOccurs="0" name="statutoryAuditor2" type="s1:charMax36"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerCorporateId">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="nationalIdentifier" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="socialIdentityNumber" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="taxIdentityNumber" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="abbreviation" type="s1:charMax20"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="chamberOfCommerce">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerLegalInformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="tradeRegisterNumber" type="s1:charMax20"/>
                    <xsd:element type="xsd:date" name="deliveryDateOfTradeRegister" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="tradeRegisterDeliveryPlace" type="s1:charMax30"/>
                    <xsd:element type="xsd:date" name="validityDateOfTradeRegister" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="chamberOfCommerceCode" type="s1:chamberOfCommerce"/>
                    <xsd:element minOccurs="0" name="licenseNumber" type="s1:charMax20"/>
                    <xsd:element type="xsd:date" name="validityDateOfLicense" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customersGroup">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax6"/>
                    <xsd:element minOccurs="0" name="name" type="s1:charMax36"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customersSubgroup">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customersGroupCode" type="s1:charMax6"/>
                    <xsd:element minOccurs="0" name="customersSubgroupCode" type="s1:charMax6"/>
                    <xsd:element minOccurs="0" name="customersSubgroupName" type="s1:charMax36"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerJob">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobCode" type="s1:charMax6"/>
                    <xsd:element minOccurs="0" name="jobName" type="s1:charMax36"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerSubjob">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobCode" type="s1:charMax6"/>
                    <xsd:element minOccurs="0" name="subjobCode" type="s1:charMax6"/>
                    <xsd:element minOccurs="0" name="subjobName" type="s1:charMax36"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerGroupAndJob">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customersGroup" type="s1:customersGroup"/>
                    <xsd:element minOccurs="0" name="subgroup" type="s1:customersSubgroup"/>
                    <xsd:element minOccurs="0" name="job" type="s1:customerJob"/>
                    <xsd:element minOccurs="0" name="subjob" type="s1:customerSubjob"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerCorporateSpecInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="corporateGeneralInfo" type="s1:customerCorporateGeneralInfo"/>
                    <xsd:element minOccurs="0" name="corporateId" type="s1:customerCorporateId"/>
                    <xsd:element minOccurs="0" name="legalInformation" type="s1:customerLegalInformation"/>
                    <xsd:element minOccurs="0" name="groupAndJob" type="s1:customerGroupAndJob"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerSpecInfo">
                <xsd:choice>
                    <xsd:element minOccurs="0" name="individualSpecInfo" type="s1:customerIndividualSpecInfo"/>
                    <xsd:element minOccurs="0" name="corporateSpecInfo" type="s1:customerCorporateSpecInfo"/>
                </xsd:choice>
            </xsd:complexType>
            <xsd:simpleType name="char5">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="branch">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char5"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerOfficer">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="name" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerQuality">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax2"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="internalCategory">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="segment">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerGeneralAttributes">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="branchCode" type="s1:branch"/>
                    <xsd:element minOccurs="0" name="customerOfficer" type="s1:customerOfficer"/>
                    <xsd:element minOccurs="0" name="qualityCode" type="s1:customerQuality"/>
                    <xsd:element type="xsd:boolean" name="taxableCustomer" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="internalCategoryCode" type="s1:internalCategory"/>
                    <xsd:element minOccurs="0" name="segment" type="s1:segment"/>
                    <xsd:element minOccurs="0" name="statisticNumber" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="sponsorCustomerCode" type="s1:charMax15"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="declaredHome">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax4">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="centralBankCategory">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax4"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerActivityField">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax5"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="relationshipWithTheBank">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="decimal19_4">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="19"/>
                    <xsd:fractionDigits value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerRelationshipRiskLevel">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="creditInfoCentreCodeToDeclare">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=" "/>
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerCreditInfoCentre">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerRelationshipRisk" type="s1:customerRelationshipRiskLevel"/>
                    <xsd:element type="xsd:date" name="validationDateOfCustomerRelationshipRisk" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="userCodewhoValidatedcustomerRelationshipRisk" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="creditInfoCentreRegistrationNumber" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="creditInfoCentreCodeToDeclare"
                                 type="s1:creditInfoCentreCodeToDeclare"/>
                    <xsd:element minOccurs="0" name="creditInfoCentreKey" type="s1:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerReportingAttributes">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="declaredHome" type="s1:declaredHome"/>
                    <xsd:element minOccurs="0" name="economicAgentCode" type="s1:centralBankCategory"/>
                    <xsd:element minOccurs="0" name="activityFieldCode" type="s1:customerActivityField"/>
                    <xsd:element minOccurs="0" name="relationshipWithTheBank" type="s1:relationshipWithTheBank"/>
                    <xsd:element minOccurs="0" name="gradingAgreement" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="gradingAgreementAmount" type="s1:decimal19_4"/>
                    <xsd:element minOccurs="0" name="securityIssuer" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="internationalOperationsIndicator" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="creditInfoCentre" type="s1:customerCreditInfoCentre"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerPaymentMethods">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="chequeBookFacilitySuspension" type="s1:char1"/>
                    <xsd:element type="xsd:date" name="chequeBookFacilitySuspensionDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="withdrawalOfCreditCard" type="s1:char1"/>
                    <xsd:element type="xsd:date" name="dateOfWithdrawalOfCreditCard" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="decimal4_0">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="4"/>
                    <xsd:fractionDigits value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerAdditionalInformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="deletionCode" type="s1:char1"/>
                    <xsd:element minOccurs="0" name="userWhoCreated" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="userWhoInitiated" type="s1:charMax10"/>
                    <xsd:element type="xsd:date" name="creationDate" minOccurs="0"/>
                    <xsd:element type="xsd:date" name="lastModificationDate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="modificationSheetNumber" type="s1:decimal4_0"/>
                    <xsd:element minOccurs="0" name="realTimeTransferCode" type="s1:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax2"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerAddressDetailIdentifier">
                <xsd:sequence>
                    <xsd:element name="customerCode" type="s1:charMax15"/>
                    <xsd:element name="addressType" type="s1:addressType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressFormat">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax2"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax9">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="service">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax4"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="typeOfTransport">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerAddressDetail">
                <xsd:sequence>
                    <xsd:element name="identifier" type="s1:customerAddressDetailIdentifier"/>
                    <xsd:element minOccurs="0" name="language" type="s1:language"/>
                    <xsd:element minOccurs="0" name="addressFormat" type="s1:addressFormat"/>
                    <xsd:element minOccurs="0" name="addressLine1" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="addressLine2" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="addressLine3" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="city" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="postalCode" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="deliveryOffice" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="poBox" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="postalSector" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="postalSectorDesignation" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="countryCode" type="s1:country"/>
                    <xsd:element minOccurs="0" name="counterCode" type="s1:branch"/>
                    <xsd:element minOccurs="0" name="locker" type="s1:charMax9"/>
                    <xsd:element minOccurs="0" name="service" type="s1:service"/>
                    <xsd:element minOccurs="0" name="typeOfTransportCode" type="s1:typeOfTransport"/>
                    <xsd:element minOccurs="0" name="emailAddress" type="s1:charMax50"/>
                    <xsd:element type="xsd:date" name="startingDateOfTemporaryAddress" minOccurs="0"/>
                    <xsd:element type="xsd:date" name="endingDateOfTemporaryAddress" minOccurs="0"/>
                    <xsd:element type="xsd:int" name="numberOfReturnMailsForWrongAddress" minOccurs="0"/>
                    <xsd:element type="xsd:date" name="dateOfFirstReturnMailForWrongAddress" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="county" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="region" type="s1:charMax50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerAddressDetailResponse">
                <xsd:sequence>
                    <xsd:element name="customerAddressDetail" type="s1:customerAddressDetail" maxOccurs="unbounded"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="restrictedCustomer">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerNumber" type="s1:charMax15"/>
                    <xsd:element minOccurs="0" name="displayedName" type="s1:charMax67"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="phoneType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="formatOfTelephoneNumber">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerPhoneNumber">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customer" type="s1:restrictedCustomer"/>
                    <xsd:element minOccurs="0" name="phoneType" type="s1:phoneType"/>
                    <xsd:element name="phoneNumber" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="formatOfTelephoneNumber" type="s1:formatOfTelephoneNumber"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerPhoneNumberListResponse">
                <xsd:sequence>
                    <xsd:element name="customerPhoneNumber" type="s1:customerPhoneNumber" maxOccurs="unbounded"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="mailType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerEmailAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customer" type="s1:restrictedCustomer"/>
                    <xsd:element minOccurs="0" name="mailType" type="s1:mailType"/>
                    <xsd:element name="email" type="s1:charMax50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerEmailAddressListResponse">
                <xsd:sequence>
                    <xsd:element name="customerEmailAddress" type="s1:customerEmailAddress" maxOccurs="unbounded"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerFreeAttributeDetailIdentifier">
                <xsd:sequence>
                    <xsd:element name="customerCode" type="s1:charMax15"/>
                    <xsd:element name="identifier" type="s1:charMax10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="charMax40">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal22_7">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="22"/>
                    <xsd:fractionDigits value="7"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="additionalDataValue">
                <xsd:choice>
                    <xsd:element minOccurs="0" name="alphanumeric" type="s1:charMax40"/>
                    <xsd:element minOccurs="0" name="amountOrRate" type="s1:decimal22_7"/>
                    <xsd:element type="xsd:date" name="date" minOccurs="0"/>
                </xsd:choice>
            </xsd:complexType>
            <xsd:simpleType name="typeOfAttribute">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="G"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="S"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="charMax255">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="freeAttributeFormat">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="T"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="additionalDataManagementMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="customerFreeAttributeInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax10"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                    <xsd:element minOccurs="0" name="dataFormat" type="s1:freeAttributeFormat"/>
                    <xsd:element type="xsd:int" name="totalLengthIfAlpha" minOccurs="0"/>
                    <xsd:element type="xsd:int" name="numberOfDecimalsIfAmountOrRate" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="managementMethod" type="s1:additionalDataManagementMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerFreeAttributeDetail">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerFreeAttributeIdentifier"
                                 type="s1:customerFreeAttributeDetailIdentifier"/>
                    <xsd:element minOccurs="0" name="additionalDataValue" type="s1:additionalDataValue"/>
                    <xsd:element minOccurs="0" name="typeOfLinkedAttribute" type="s1:typeOfAttribute"/>
                    <xsd:element minOccurs="0" name="freeText" type="s1:charMax255"/>
                    <xsd:element minOccurs="0" name="customerFreeAttributeInfo" type="s1:customerFreeAttributeInfo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerFreeAttributesDetail">
                <xsd:sequence>
                    <xsd:element name="customerFreeAttributeDetail" type="s1:customerFreeAttributeDetail"
                                 maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerProfile">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="s1:charMax3"/>
                    <xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerActiveProfileResponse">
                <xsd:sequence>
                    <xsd:element name="activeProfile" type="s1:customerProfile"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerDetailResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerCode" type="s1:charMax15"/>
                    <xsd:element minOccurs="0" name="customerType" type="s1:customerType"/>
                    <xsd:element minOccurs="0" name="language" type="s1:language"/>
                    <xsd:element minOccurs="0" name="titleCode" type="s1:titleCode"/>
                    <xsd:element minOccurs="0" name="lastname" type="s1:charMax36"/>
                    <xsd:element minOccurs="0" name="nameToReturn" type="s1:charMax67"/>
                    <xsd:element minOccurs="0" name="abbreviation" type="s1:charMax20"/>
                    <xsd:element minOccurs="0" name="freeFieldCode1" type="s1:customerFreeField1"/>
                    <xsd:element minOccurs="0" name="freeFieldCode2" type="s1:customerFreeField2"/>
                    <xsd:element minOccurs="0" name="freeFieldCode3" type="s1:customerFreeField3"/>
                    <xsd:element minOccurs="0" name="externalIdentifier" type="s1:charMax25"/>
                    <xsd:element minOccurs="0" name="situation" type="s1:customerSituation"/>
                    <xsd:element minOccurs="0" name="fatca" type="s1:customerFatca"/>
                    <xsd:element minOccurs="0" name="specificInformation" type="s1:customerSpecInfo"/>
                    <xsd:element minOccurs="0" name="generalAttributes" type="s1:customerGeneralAttributes"/>
                    <xsd:element minOccurs="0" name="reportingAttributes" type="s1:customerReportingAttributes"/>
                    <xsd:element minOccurs="0" name="paymentMethods" type="s1:customerPaymentMethods"/>
                    <xsd:element minOccurs="0" name="additionnalInformation" type="s1:customerAdditionalInformation"/>
                    <xsd:element minOccurs="0" name="addressesDetail" type="s1:getCustomerAddressDetailResponse"/>
                    <xsd:element minOccurs="0" name="phoneNumbers" type="s1:getCustomerPhoneNumberListResponse"/>
                    <xsd:element minOccurs="0" name="emailAdresses" type="s1:getCustomerEmailAddressListResponse"/>
                    <xsd:element minOccurs="0" name="freeAttributesDetail" type="s1:customerFreeAttributesDetail"/>
                    <xsd:element minOccurs="0" name="activeProfile" type="s1:getCustomerActiveProfileResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCustomerDetailResponseFlow">
                <xsd:sequence>
                    <xsd:element name="responseHeader" type="s1:responseHeader"/>
                    <xsd:element name="responseStatus" type="s1:responseStatus"/>
                    <xsd:element minOccurs="0" name="getCustomerDetailResponse" type="s1:getCustomerDetailResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getCustomerDetailResponseFlow" type="s1:getCustomerDetailResponseFlow"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="errorResponseFlow">
        <wsdl:part name="errorResponseFlow" element="fjs:errorResponseFlow"/>
    </wsdl:message>
    <wsdl:message name="getStatusIn">
        <wsdl:part name="parameters" element="fjs:getStatusRequestFlow"/>
    </wsdl:message>
    <wsdl:message name="getStatusOut">
        <wsdl:part name="parameters" element="fjs:getStatusResponseFlow"/>
    </wsdl:message>
    <wsdl:message name="getCustomerDetailIn">
        <wsdl:part name="parameters" element="fjs:getCustomerDetailRequestFlow"/>
    </wsdl:message>
    <wsdl:message name="getCustomerDetailOut">
        <wsdl:part name="parameters" element="fjs:getCustomerDetailResponseFlow"/>
    </wsdl:message>
    <wsdl:portType name="getCustomerDetailPortType">
        <wsdl:operation name="getStatus">
            <wsdl:input message="fjs:getStatusIn" name="getStatusRequestFlow"/>
            <wsdl:output message="fjs:getStatusOut" name="getStatusResponseFlow"/>
            <wsdl:fault message="fjs:errorResponseFlow" name="errorResponseFlow"/>
        </wsdl:operation>
        <wsdl:operation name="getCustomerDetail">
            <wsdl:input message="fjs:getCustomerDetailIn" name="getCustomerDetailRequestFlow"/>
            <wsdl:output message="fjs:getCustomerDetailOut" name="getCustomerDetailResponseFlow"/>
            <wsdl:fault message="fjs:errorResponseFlow" name="errorResponseFlow"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="getCustomerDetailBinding" type="fjs:getCustomerDetailPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="getStatus"/>
            <wsdl:input name="getStatusRequestFlow">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusResponseFlow">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="errorResponseFlow">
                <soap:fault use="literal" name="errorResponseFlow"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerDetail">
            <soap:operation soapAction="getCustomerDetail"/>
            <wsdl:input name="getCustomerDetailRequestFlow">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCustomerDetailResponseFlow">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="errorResponseFlow">
                <soap:fault use="literal" name="errorResponseFlow"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="getCustomerDetail">
        <wsdl:port binding="fjs:getCustomerDetailBinding" name="getCustomerDetailPortType">
            <soap:address location="http://slnxampsmg01.tour.fr.sopra:9789/VD10.1.SMG-DEV/getCustomerDetail"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>